{% extends 'UserInterface/base.html' %}

{% block content %}

<div class="audit_trail class w-100 h-100">
    <h1 class="p-4 w-100 text-center text-white" style="font-family: 'Barlow'; font-size: 1.3rem; letter-spacing: 1px; background-color: rgb(124, 25, 218);">Audit Trail</h1>
    <div class="pmtablediv card bg-white mx-auto w-75 h-75 my-3" style=" max-height: 85%; overflow-y: scroll;">
        <table class="pmtable table table-hover table-striped table-white" style="font-size: 0.7rem; font-family: 'Montserrat'; width: 100%;">
            <thead class="table-dark text-center position-sticky top-0">
                <tr>
                    <th>Audit ID #</th>
                    <th>Action</th>
                    <th>User</th>
                    <th>Timestamp</th>
                    <th>Location</th> 

                </tr>
            </thead>
            <tbody class="text-center">
                {% for log in audit_table %}
                <tr>
                    <td>P2023 - {{ log.id }}</td>
                    <td>{{ log.action }}</td>
                    <td>{{ log.user }}</td>
                    <td>{{ log.timestamp }}</td>
                    <td>{{ log.location }}</td>

                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}