{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    
    <title>Dunmark Tileshop</title>
    
    <!-- Bootstrap -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.1.0/mdb.min.css" rel="stylesheet"/>
    <!-- Custom styles -->
    <link rel="stylesheet" href="{% static 'css/UI.css' %}"/>
   
    <!-- Icons -->
    <script src="https://kit.fontawesome.com/f8a99d4330.js" crossorigin="anonymous"></script>
    
    <!-- fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Inter:wght@200;400&family=Quicksand&family=Work+Sans:wght@300;400&family=Roboto+Serif:opsz@8..144&display=swap" rel="stylesheet">
    
</head>
<body>
    <div class="main">
        
        <!-- Side navigation -->
        <div class="sidenav">
            <button class="btn btn-primary rounded-circle" id="shrink"><i class="fa-solid fa-chevron-left"></i></button>
            <!-- Logo -->
            <img src="{% static 'images/LogoMakerCa-1671720038103.png' %}" alt="" id="navlogo">
            <!-- nav links -->
            <ul type="none" class="sidenav-menu">
                <li><a {% if request.resolver_match.url_name == "dashboard" %} id="nav-active" {% endif %} href="{% url 'dashboard' %}"><i class="fa-solid fa-chart-simple"></i><span>Dashboard</span></a></li>
                {% if user.is_staff %}
                <li><a href="{% url 'usermanagement' %}" {% if request.resolver_match.url_name == "usermanagement" %} id="nav-active" {% endif %}><i class="fa-solid fa-user"></i><span>User Management</span></a></li>
                {% endif %}
                <li><a href="{% url 'pos' %}" {% if request.resolver_match.url_name == "pos" %} id="nav-active" {% endif %}><i class="fa-solid fa-cash-register"></i><span>Point of Sale</span></a></li>
                <li><a href="{% url 'sales_transaction' %}" {% if request.resolver_match.url_name == "sales_transaction" %} id="nav-active" {% endif %}><i class="fa-solid fa-sack-dollar"></i><span>Sales Transaction</span></a></li>
                <li><a href="{% url 'product_management' %}" {% if request.resolver_match.url_name == "product_management" %} id="nav-active" {% endif %}><i class="fa-solid fa-table-columns"></i><span>Product Management</span></a></li>
                <li><a href="{% url 'return_product' %}" {% if request.resolver_match.url_name == "return_product" %} id="nav-active" {% endif %}><i class="fa-solid fa-arrow-right-arrow-left"></i><span>Return Product</span></a></li>
                <li><a href="{% url 'settings' %}" {% if request.resolver_match.url_name == "settings" %} id="nav-active" {% endif %}><i class="fa-solid fa-gear"></i><span>Settings</span></a></li>
                <li><a href="{% url 'audit_trail' %}" {% if request.resolver_match.url_name == "audit_trail" %} id="nav-active" {% endif %}><i class="fa-solid fa-circle-info"></i><span>Audit Trail</span></a></li>
                <li><a href="{% url 'reports' %}" {% if request.resolver_match.url_name == "reports" %} id="nav-active" {% endif %}><i class="fa-solid fa-registered"></i><span>Reports</span></a></li>
                <li><a href="{% url 'about_system' %}" {% if request.resolver_match.url_name == "about_system" %} id="nav-active" {% endif %}><i class="fa-solid fa-circle-question"></i><span>About System</span></a></li>
            </ul>
        </div>
        
        <!-- content -->
        <div class="content" id="content">
            
            <!-- Header -->
            <div class="header shadow">
                <h4><a href="{% url 'dashboard' %}" style="color:rgb(7,33,91);">Dunmark Tileshop</a></h4>
                
                <!-- Notifications -->
                <div class="notification">
                  <!-- icon -->
                  <a class="rounded" id="notif-btn">
                    <i class="fa-solid fa-bell"></i>
                    <span class="badge rounded-pill badge-notification bg-danger">1</span>
                  </a>
                  <!-- notif content -->
                  <div class="card" id="notif-content">
                    
                  </div>
                </div>
                
                <!-- Logout div -->
                <div class="d-flex me-3">
                  <div class="dropdown">
                    <button
                      type="button"
                      class="btn btn-white dropdown-toggle"
                      id="dropdownMenuOffset"
                      data-mdb-toggle="dropdown"
                      aria-expanded="false"
                      
                    >
                      {{ user }}
                    </button>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuOffset">
                      <li><a class="dropdown-item shadow" href="{%  url 'logout' %}" id="logout">Logout</a></li>
                      
                    </ul>
                  </div>
                </div>
            </div>
            
            <!-- Content Here -->
            {% block content %}
            {% endblock %}
            
        </div>
    </div>
    <!-- MDB -->
<script
  type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.1.0/mdb.min.js"></script>
  <!-- Jquery -->
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script type="text/javascript" charset="utf-8" src="{% static 'js/script.js' %}"></script>
</body>
</html>