{% extends 'UserInterface/base.html' %}

{% block content %}
<div class="dashboard">
  <!-- Dashboard upper part -->
  <div class="dash-upper shadow-sm">
    
    <div class="card shadow-sm">
      <div class="left-symbol"><h3 style="color: rgb(7, 156, 107);"><i class="fa-solid fa-money-bill-trend-up"></i></h3></div>
      <div class="text-label">
        <h2>Sales ( Current Month ) </h2>
        <h2 id="dash-annual">Php <span>{{ current_month_sales }}</span></h2>
      </div>
    </div>
    <div class="card shadow-sm">
      <div class="left-symbol"><h3 style="color: rgb(14, 151, 106);"><i class="fa-solid fa-dollar"></i></h3></div>
      <div class="text-label">
        <h2>Sales ( Today ) </h2>
        <h2 id="dash-annual">Php <span>{{ current_sales_today }}</span></h2>
      </div>
    </div>
    <div class="card shadow-sm">
      <div class="left-symbol"><h3 style="color: rgb(40, 96, 188);"><i class="fa-solid fa-hand-holding-dollar"></i></h3></div>
      <div class="text-label">
        <h2>Total Transactions</h2>
        <h2 id="dash-annual"><span class="ps-3">{{ total_transactions }}</span></h2>
      </div>
    </div>
    <div class="card shadow-sm">
      <div class="left-symbol"><h3 style="color: rgb(40, 96, 188) ;"><i class="fa-brands fa-product-hunt"></i></h3></div>
      <div class="text-label">
        <h2>Registered Products</h2>
        <h2 id="dash-annual"><span class="ps-3">{{ product_registered }}</span></h2>
      </div> 
    </div>
    
  </div>
  <!-- Dashboard lower part -->
  <div class="dash-lower">

    <!--Product Level Graph-->

    <div class="stock-graph card shadow-sm mb-5 pb-3">
      <div class="stock-progress">
          <!--Graph Header-->
        <h1 class="stock-header mb-3">Top Selling Products Stock Level</h1>

        <div class="ceramic">
          <h4 class="label-progress">
            <span>{{ prod1.product_name }}</span>
            <span id="stocklabel1">Good</span>
          </h4>

          <div class="progress p-0 rounded-pill shadow-inner">
            <div
              class="progress-bar"
              id="product1stock"
              role="progressbar"   
            ></div>
          </div>
        </div>

        <div class="porcelain">
          <h4 class="label-progress">
            <span>{{ prod2.product_name }}</span>
            <span id="stocklabel2">Normal</span>
          </h4>

          <div class="progress p-0 rounded-pill shadow-inner">
            <div
              class="progress-bar"
              role="progressbar"
              id="product2stock"
            ></div>
          </div>
        </div>

        <div class="adhesive">
          <h4 class="label-progress">
            <span>{{ prod3.product_name }}</span>
            <span id="stocklabel3">Warning</span>
          </h4>

          <div class="progress p-0 rounded-pill shadow-inner">
            <div
              class="progress-bar"
              role="progressbar"
              id="product3stock"
            ></div>
          </div>
        </div>

        <div class="grout">
          <h4 class="label-progress">
            <span>{{prod4.product_name}}</span>
            <span id="stocklabel4">Critical</span>
          </h4>

          <div class="progress p-0 rounded-pill shadow-inner">
            <div
              class="progress-bar"
              role="progressbar"
              id="product4stock"
            ></div>
          </div>
        </div>

        <div class="sanitary">
          <h4 class="label-progress">
            <span>{{ prod5.product_name }}</span>
            <span id="stocklabel5">Out of Stock</span>
          </h4>

          <div class="progress p-0 rounded-pill shadow-inner">
            <div
              class="progress-bar"
              role="progressbar"
              id="product5stock"
            ></div>
          </div>
        </div>

      </div>

    </div>
    <div class="top-selling card shadow-sm">
      <div class="topselling-graph">
        <h1 class="topselling-header">Top Selling Products</h1>
          <div class="graph">
            <div class="chart-area"><canvas id="myChart" style="font-size:1em;"></canvas></div> 
        </div>
      </div>
    </div>
  </div>

  <div class="topselling_hidden d-none">
    
    <input type="hidden" id="top1" data-name="{{ top1.name }}" data-count="{{ top1.count }}">
    <input type="hidden" id="top2" data-name="{{ top2.name }}" data-count="{{ top2.count }}">
    <input type="hidden" id="top3" data-name="{{ top3.name }}" data-count="{{ top3.count }}">

    <input type="hidden" id="prod1" data-name="{{ prod1.product_name }}" data-stock="{{ prod1.current_stock }}" data-max="{{ prod1.max_stock }}" >
    <input type="hidden" id="prod2" data-name="{{ prod2.product_name }}" data-stock="{{ prod2.current_stock }}" data-max="{{ prod2.max_stock }}" >
    <input type="hidden" id="prod3" data-name="{{ prod3.product_name }}" data-stock="{{ prod3.current_stock }}" data-max="{{ prod3.max_stock }}" >
    <input type="hidden" id="prod4" data-name="{{ prod4.product_name }}" data-stock="{{ prod4.current_stock }}" data-max="{{ prod4.max_stock }}" >
    <input type="hidden" id="prod5" data-name="{{ prod5.product_name }}" data-stock="{{ prod5.current_stock }}" data-max="{{ prod5.max_stock }}" >
      
  </div>
</div>



<!-- if the user is still default account -->

{% if user.is_default %}
  <!-- Modal -->
  <div class="modal top fade" id="dashboardModal" tabindex="-1" aria-labelledby="boom" aria-hidden="true" data-mdb-backdrop="static" data-mdb-keyboard="false">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title w-100 text-center text-danger" id="boom" style="font-family: 'Barlow'; font-size: 0.9rem;">***** YOU NEED TO CHANGE YOUR PASSWORD *****</h5>
        </div>
        <div class="modal-body">
          <p class="text-center d-flex justify-content-center align-items-center" style="font-family: 'Barlow'; font-size: 0.9rem;">Click <a class="btn btn-secondary btn-sm mx-2" href="{% url 'force_change_password' user.id %}">Here</a> to change your password.</p>
        </div>
        
      </div>
    </div>
  </div>
{% endif %}
  

{% endblock %}