{% extends 'UserInterface/base.html' %}

{% block content %}
<div class="dashboard">
  <!-- Dashboard upper part -->
  <div class="dash-upper shadow-sm">
    
    <div class="card shadow-sm">
      <div class="left-symbol"><h3 style="color: rgb(7, 156, 107);"><i class="fa-solid fa-money-bill-trend-up"></i></h3></div>
      <div class="text-label">
        <h2>Sales ( Monthly ) </h2>
        <h2 id="dash-annual">Php <span>{{ current_month_sales }}</span></h2>
      </div>
    </div>
    <div class="card shadow-sm">
      <div class="left-symbol"><h3 style="color: rgb(14, 151, 106);"><i class="fa-solid fa-dollar"></i></h3></div>
      <div class="text-label">
        <h2>Sales ( Daily ) </h2>
        <h2 id="dash-annual">Php <span>{{ current_sales_today }}</span></h2>
      </div>
    </div>
    <div class="card shadow-sm">
      <div class="left-symbol"><h3 style="color: rgb(40, 96, 188);"><i class="fa-solid fa-hand-holding-dollar"></i></h3></div>
      <div class="text-label">
        <h2>Total Transactions</h2>
        <h2 id="dash-annual"><span class="ps-3">{{ total_transactions }}</span></h2>
      </div>
    </div>
    <div class="card shadow-sm">
      <div class="left-symbol"><h3 style="color: rgb(40, 96, 188) ;"><i class="fa-brands fa-product-hunt"></i></h3></div>
      <div class="text-label">
        <h2>Registered Products</h2>
        <h2 id="dash-annual"><span class="ps-3">{{ product_registered }}</span></h2>
      </div> 
    </div>
    
  </div>
  <!-- Dashboard lower part -->
  <div class="dash-lower">

    <!--Product Level Graph-->

    <div class="stock-graph card shadow-sm mb-5 pb-3">
      <div class="stock-progress">
          <!--Graph Header-->
        <h1 class="stock-header mb-3">Top Selling Products Stock Level</h1>

        <div class="ceramic">
          <h4 class="label-progress">
            <span>Ceramic Tiles</span>
            <span>Good</span>
          </h4>

          <div class="progress p-0 rounded-pill shadow-inner">
            <div
              class="progress-bar bg-primary"
              role="progressbar"
              style="width: 100%;"
              aria-valuenow="100"
              aria-valuemin="0"
              aria-valuemax="100"
            >   </div>
          </div>
        </div>

        <div class="porcelain">
          <h4 class="label-progress">
            <span>Porcelain Tiles</span>
            <span>Normal</span>
          </h4>

          <div class="progress p-0 rounded-pill shadow-inner">
            <div
              class="progress-bar bg-success"
              role="progressbar"
              style="width: 70%;"
              aria-valuenow="70"
              aria-valuemin="0"
              aria-valuemax="100"
            ></div>
          </div>
        </div>

        <div class="adhesive">
          <h4 class="label-progress">
            <span>Adhesive Products</span>
            <span>Warning</span>
          </h4>

          <div class="progress p-0 rounded-pill shadow-inner">
            <div
              class="progress-bar bg-warning"
              role="progressbar"
              style="width: 50%;"
              aria-valuenow="50"
              aria-valuemin="0"
              aria-valuemax="100"
            ></div>
          </div>
        </div>

        <div class="grout">
          <h4 class="label-progress">
            <span>Tile Grout</span>
            <span>Critical</span>
          </h4>

          <div class="progress p-0 rounded-pill shadow-inner">
            <div
              class="progress-bar bg-danger"
              role="progressbar"
              style="width: 10%;"
              aria-valuenow="10"
              aria-valuemin="0"
              aria-valuemax="100"
            ></div>
          </div>
        </div>

        <div class="sanitary">
          <h4 class="label-progress">
            <span>Sanitary Wares</span>
            <span>Out of Stock</span>
          </h4>

          <div class="progress p-0 rounded-pill shadow-inner">
            <div
              class="progress-bar bg-secondary"
              role="progressbar"
              style="width: 0%;"
              aria-valuenow="0"
              aria-valuemin="0"
              aria-valuemax="100"
            ></div>
          </div>
        </div>

      </div>

    </div>
    <div class="top-selling card shadow-sm">
      <div class="topselling-graph">
        <h1 class="topselling-header">Top Selling Products</h1>
          <div class="graph">
            <div class="chart-area"><canvas id="myChart" style="font-size:1em;"></canvas></div> 
        </div>
      </div>
    </div>
  </div>

  <div class="topselling_hidden d-none">
    
    <input type="hidden" id="top1" data-name="{{ top1.name }}" data-count="{{ top1.count }}">
    <input type="hidden" id="top2" data-name="{{ top2.name }}" data-count="{{ top2.count }}">
    <input type="hidden" id="top3" data-name="{{ top3.name }}" data-count="{{ top3.count }}">
      
  </div>
</div>



<!-- if the user is still default account -->

{% if user.is_default %}
  <!-- Modal -->
  <div class="modal top fade" id="dashboardModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" data-mdb-backdrop="static" data-mdb-keyboard="false">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title w-100 text-center text-danger" id="exampleModalLabel" style="font-family: 'Barlow'; font-size: 0.9rem;">***** YOU NEED TO CHANGE YOUR PASSWORD *****</h5>
        </div>
        <div class="modal-body">
          <p class="text-center d-flex justify-content-center align-items-center" style="font-family: 'Barlow'; font-size: 0.9rem;">Click <a class="btn btn-secondary btn-sm mx-2" href="{% url 'force_change_password' user.id %}">Here</a> to change your password.</p>
        </div>
        
      </div>
    </div>
  </div>
{% endif %}
  

{% endblock %}