{% extends 'UserInterface/base.html' %}

{% block content %}
<div class="dashboard">
  <!-- Dashboard upper part -->
  <div class="dash-upper shadow-sm">
    
    <div class="card shadow-sm">
      
    </div>
    <div class="card shadow-sm">
      
    </div>
    <div class="card shadow-sm">
      
    </div>
    <div class="card shadow-sm">
      
    </div>
    
  </div>
  <!-- Dashboard lower part -->
  <div class="dash-lower">
    <div class="stock-graph card shadow-sm">
      
    </div>
    <div class="top-selling card shadow-sm">
      
    </div>
  </div>
</div>
{% endblock %}