{% extends 'UserInterface/base.html' %}


{% block content %}
    <div class="wrapper_editprod h-100 w-100">
      <a href="{% url 'product_management' %}" class="btn btn-secondary m-4" style="width: 150px;">Back</a>
        <div class="edit_product card shadow bg-white p-3 w-50 mx-auto mt-5" style="font-family: 'Barlow';">
            <h5 class="card-header mb-3">Edit Product info for : <span class="text-primary">{{ product.product_name }} 
            {% if product.category == 'Porcelain Tiles' or product.category == 'Ceramic Tiles' %}
            {{ product.product_size }}
            {% endif %}
                </span></h5>
            <form method="post" class="p-1" enctype="multipart/form-data">
                {% csrf_token %}

                {% if product_form.errors %}
                <div class="alert alert-primary p-0 text-center">
                    <h3 style="font-size: 0.9em;">{{ product_form.product_name.errors }}</h3>   
                </div>
                {% endif %}

                <div class="row">
                  <div class="col input-group mb-3">
                    <span class="input-group-text">Name :</span>
                    {{ product_form.product_name }}
                 
                  </div>

                  <div class="col input-group mb-3">
                    <span class="input-group-text">Product Brand :</span>
                    {{ product_form.brand }}
                 
                  </div>

                  <div class="col">Type:
                    {{  product_form.category }}
                  </div>
                </div>
                  
                
                <div class="input-group mb-3 shadow-sm">
                  <span class="input-group-text">Price :</span>
                  {{ product_form.price }}
                  <span class="input-group-text">.00</span>
                </div>
                
                <div class="input-group mb-3 shadow-inner">
                  <span class="input-group-text">Maximum Stocks :</span>
                  {{ product_form.max_stock }}
                </div>
                
                <label class="form-label" for="id_product_img">Select Product Image :</label><br>
                {{ product_form.product_img }}
    
                <div class="form-outline mt-4 mb-2">
                  {{ product_form.availability }}
                  <label class="form-label" for="id_availability">Post as available</label>
                </div>
                
    
                <div class="card-footer d-flex justify-content-end">
                  <button type="submit" class="btn btn-primary w-25 fs-6 mx-3">Update</button>
                </div>
              </form>
        </div>
    </div>
    
{% endblock content %}
    