{% extends 'UserInterface/base.html'%}

{% block content%}
<a class="btn btn-dark d-block mx-4 mt-4" href="{% url 'usermanagement'%}" style="width: 150px;">Go back</a>

    <div class="edituser bg-white rounded shadow-3 mx-auto my-3 p-0">
        <div class="card-header text-center p-3 rounded bg-dark" style="color: white; font-family: 'Barlow';">
            <h5 style=" font-weight: bold; font-size: 0.9em; letter-spacing: 1px;">Edit User info for  User: <span class="text-warning ">{{ Users.username }}</span></h5>
        </div>
        <form method="post" id="userform-edit" class="m-0 p-4">
            
            {% csrf_token %}
            <div class="row mb-4">
                <div class="col">
                  <div class="form-outline">
                    {{ form.first_name }}
                    <label class="form-label" for="id_first_name"><i class="fa-solid fa-person mx-2"></i>First Name</label>
                  </div>
                </div>
                <div class="col">
                  <div class="form-outline">
                    {{ form.last_name }}
                    <label class="form-label" for="id_last_name"><i class="fa-solid fa-people-roof mx-2"></i>Last Name</label>
                  </div>
                </div>
              </div>
             
              <div class="form-outline mb-4">
                {{ form.email }}
                <label class="form-label" for="id_email"><i class="fa-solid fa-envelope mx-2"></i>Email address</label>
              </div>

              <div class="form-outline mb-4">
                {{ form.username }}
                <label class="form-label" for="id_username"><i class="fa-solid fa-user mx-2"></i>Username</label>
              </div>

              <div class="form-outline mb-4">
                <label class="form-label" for="id_role">Choose Role : </label>
                {{ form.role }}
              </div>


            <input class="btn btn-primary fs-6 d-block mx-auto w-25" type="submit" value="Save Changes" style="font-family: 'Barlow'; ">
        </form>
        
    </div>
    
    
{% endblock %}