{% extends 'UserInterface/base.html' %}

{% load static %}
{% block content %}


{% if curr_user.id == user.id %}
<div class="wrapper_editprod h-100 w-100">
    <a href="{% url 'product_management' %}" class="btn btn-secondary m-4" style="width: 150px;">Back</a>
      <div class="edit_product rounded shadow bg-white p-3 w-25 mx-auto mt-5" style="font-family: 'Barlow';">
          <h5 class="card-header mb-3">Change Password for user : <span class="mx-2 text-primary" style="text-transform: uppercase; font-size: 1.1rem;">
                {{ user.username }}
              </span></h5>
          <form method="post" class="p-1">
              {% csrf_token %}
              <div class="row">
                
                {% if form.errors %}
                    <div class="col-12 mb-3 rounded" style="background-color: rgb(255, 244, 244);">
                        {{ form.old_password.errors }}
                        {{ form.new_password1.errors }}
                        {{ form.new_password2.errors }}
                    </div> 
                {% endif %}
                    
                

                <div class="col-12 input-group mb-3">
                  <span class="input-group-text">Old Password :</span>
                  {{ form.old_password }}  
               
                </div>

                <div class="col-12 input-group mb-3">
                    <span class="input-group-text">New Password :</span>
                    {{ form.new_password1 }}
                 
                </div>

                <div class="col input-group mb-3">
                    <span class="input-group-text">Confirm Password :</span>
                    {{ form.new_password2 }}
                 
                </div>
 
              </div>
       
              <div class="card-footer d-flex justify-content-end">
                <button type="submit" class="btn btn-primary mx-3" style="font-size: 0.9rem; width: 280px;">Change Password</button>
              </div>
            </form>

      </div>
</div>


{% else %}


<div class="h-100 w-100">
    <div class="w-75 h-50 m-auto">
        <img class="d-block mx-auto " src="{% static 'images/404.svg' %}">
    </div>  
</div>
{% endif %}
    
    

  
{% endblock content %}
    