{% extends 'UserInterface/base.html' %}

{% load static %}

{% block content %}

<div class="pos p-3" style="width: 100%; height: 100%;">
    <div class="pos_wrapper h-100 w-100 d-flex">
        <!-- left Side -->
        <div class="left_pos w-75 h-100 d-flex flex-column px-2">

            <h3 class="pos_header m-1 p-1 rounded" >Point of Sale</h3>

            <!-- Sort Items -->
            <div class="sortItems mb-2 w-100 d-flex justify-content-center">
                <div class="btn-group w-75 rounded-pill" style="font-family: 'Barlow';" id="sort_item">
                    <input type="radio" class="btn-check" name="options" id="option1" autocomplete="off" checked/>
                    <label class="btn btn-secondary btn-rounded" for="option1">All Items</label>
                  
                    <input type="radio" class="btn-check" name="options" id="option2" autocomplete="off" />
                    <label class="btn btn-secondary btn-rounded" for="option2">Porcelain</label>
                  
                    <input type="radio" class="btn-check" name="options" id="option4" autocomplete="off" />
                    <label class="btn btn-secondary btn-rounded" for="option4">Ceramic</label>

                    <input type="radio" class="btn-check" name="options" id="option5" autocomplete="off" />
                    <label class="btn btn-secondary btn-rounded" for="option5">Adhesives</label>

                    <input type="radio" class="btn-check" name="options" id="option6" autocomplete="off" />
                    <label class="btn btn-secondary btn-rounded" for="option6">Sanitary Wares</label>
                  </div>
            </div>

            <!-- Seach Item -->
              <div class="pos_search w-75 align-self-center d-flex justify-content-center rounded-pill bg-white my-3 shadow-sm p-2 overflow-hidden">
                    <span class="d-block px-4"><i class="fas fa-search"></i></span>
                    <input type="search" style="border: 0; outline: 0; font-family: 'Quicksand'; font-size: 0.9rem; text-align: center; letter-spacing: px;" class="positemsearch w-100" placeholder="Search Item Name"/>
              </div>

            <!-- Item Drawer -->
            <div class="item_drawer w-100 h-100 bg-transparent d-flex flex-wrap justify-content-center overflow-y-scroll pb-5 mb-3">

                
                {% for product in products %}
                
                {% if product.availability %}
                  <div class="itemwrapper 1 p-2 " style="width: 30%; height: 60%;" data-productname="{{ product.product_name }}" data-productid="{{ product.id }}" data-currentstock="{{ product.current_stock }}">
                    <div class="item card shadow h-100 w-100">
                        <h3 class="pt-2">Php {{ product.price }}</h3>
                        <img src="{{ product.product_img.url }}" alt="Item Image" class="card-image-top">
                        <h3 class="card-title"><span>Name:</span> {{ product.product_name }}</h3>
                        <h3 class=""><span>Size:</span> {{ product.product_size }}</h3>
                        <h3 class=""><span>Category:</span> {{ product.category }}</h3>
                        
                    </div>
                  </div>
                {% endif %}
                  
                
                {% endfor %}
            
            </div>
        </div>
        <!-- Item Invoice div -->
        <div class="invoice w-25 h-100 bg-dark card px-2">
            <h3 class="pt-3 px-3 mb-0 text-center" style="font-family: 'Quicksand'; font-size: 0.9rem; letter-spacing: 1px; color: #1fcdf4;">New Transaction</h3>
          
          {% if carts.count > 0 %}
            
            <p class="px-4 py-2 mb-0 text-light d-inline-flex justify-content-between" style="font-family: 'Courier'; font-size: 0.8em;"><span class="d-inline-block">Product</span><span class="d-inline-block pe-2">Price</span></p>

            <ul class="list-unstyled px-2 mt-0 overflow-y-scroll" style="max-height: 47%; font-family: 'Courier'; font-size: 0.7em;">
              
              {% for cart in carts %}
              <li class="itemlist mb-1 d-flex justify-content-between p-2 rounded shadow-sm"><span class="d-inline-block"><i class="delitem fas fa-circle-xmark fa-lg me-2 text-danger float-start pt-2"></i>{{ cart.name }}{% if not cart.size == "N/A" %}<span class="text-primary">({{ cart.size }})</span> {% endif %} 
                <span style="font-size: 0.9em;">x{{ cart.quantity }}</span></span><span class="d-inline-block align-self-end">{{ cart.total_price }}</span></li>
              {% endfor %}
                                
              </ul>
              <h3 class="d-inline-flex justify-content-between text-light px-4 py-0 mb-0" 
              style="font-size: 0.8em; font-family: 'Quicksand';">
              <span class="d-inline-block">Subtotal:</span><span class="d-inline-block" id="subtotal" data-subtotal="{{ subtotal_raw }}">Php {{ subtotal }}</span></h3>
              <hr class="bg-light mt-2 mb-0">

              <p class="m-0 p-2 text-center" style="font-family: 'Quicksand'; color: #eee; font-size: 0.8em;">Select Mode of Payment</p>

              <div class="mop_div w-100 bg-dark rounded mb-3 d-flex flex-wrap p-2" style="height: 15%;">
                <div class="cash w-50">
                  <label for="mop1"></label>
                  <input type="radio" name="mop" id="mop1" value="cash">
                  <h5>Cash</h5>
                </div>
                <div class="gcash w-50">
                  <label for="mop2"></label>
                  <input type="radio" name="mop" id="mop2" value="gcash">
                  <h5>Gcash</h5>
                </div>
                <div class="installment w-50">
                  <label for="mop3"></label>
                  <input type="radio" name="mop" id="mop3" value="installment">
                  <h5>Installment</h5>
                </div>
                <div class="banking w-50">
                  <label for="mop4"></label>
                  <input type="radio" name="mop" id="mop4" value="banking">
                  <h5>Banking</h5>
                </div>
              </div>
              
              <div class="posactions d-flex">
                <button class="btn btn-secondary w-50 mx-2" data-mdb-toggle="modal" data-mdb-target="#confirmClear">Clear</button>
                <button class="btn btn-primary w-50 mx-auto" id="pos_proceed" data-mdb-toggle="modal" data-mdb-target="#proceedModal">Proceed</button>

              </div>
            
          {% else %}

          <div class="w-100 h-50 mx-auto p-5">
            <img class="card p-2 d-block w-100 h-100" src="{% static 'images/undraw_no_data_re_kwbl.svg' %}" style="background-color: rgb(53, 64, 74);" alt="">
          </div>
          <p class="text-center" style="font-family: 'Quicksand'; font-size: 0.9em; color: gray;" >Select a product to create transaction</p>
          {% endif %}
        </div>
    </div>
</div>

<!-- Button trigger modal FORM QUANTITY -->
<button type="button" class="btn btn-primary d-none" data-mdb-toggle="modal" data-mdb-target="#pos_quantity" id="pos_quantity_trigger">
    Launch demo modal
  </button>
  
  <!-- MODAL FORM FOR SELECTIONG QUANTITY -->
  <div class="modal top fade" id="pos_quantity" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" data-mdb-backdrop="static" data-mdb-keyboard="true">
    <div class="modal-dialog  ">
      <div class="modal-content">
        <div class="modal-header">
          <h6 class="modal-title" id="exampleModalLabel" style="font-family: 'Barlow';">Select Quantity: <span class="conf_quantity_pos text-primary"></span></h6>
          <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">

            <form method="POST" class="posform d-flex align-items-center flex-column">
              
                {% csrf_token %}
                <h6 class="container container-fluid py-2" style="font-family: 'Barlow';">Current Stock: <span class="text-primary" id="curr_stock">5</span></h6>
                <div class="d-inline-flex align-items-center mb-3">
                  
                  <button type="button" class="dcr btn btn-primary mx-2 p-2" style="height: 100%;"><i class="fa-solid fa-minus"></i></button>
                  {{ form.quantity }}
                  <button type="button" class="incr btn btn-primary mx-2 p-2" style="height: 100%;"><i class="fa-solid fa-plus"></i></button>
                </div>
                {{ form.product_id }}
                <button type="submit" class="btn btn-primary d-inline-block w-75 p-2 mb-3" id="quantity_conf">Confirm</button>
            </form>
        </div>
        
      </div>
    </div>
  </div>

<!-- CLEARING TRANSACTION CONFIRMATION -->
  <div class="modal top fade" id="confirmClear" tabindex="-1" aria-labelledby="confirm_clear" aria-hidden="true" data-mdb-backdrop="static" data-mdb-keyboard="false">
    <div class="modal-dialog  ">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Confirmation</h5>
          <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body text-center">Are you sure you want to clear the transaction?</div>
        <form method="post" action="{% url 'clear' %}" class="d-none" id="clearpos">
          {% csrf_token %}
        </form>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-mdb-dismiss="modal">
            Cancel
          </button>
          <button type="button" class="btn btn-primary" id="clearbtn">Confirm</button>
        </div>
      </div>
    </div>
  </div>


  <!-- PROCEED INVOICE FORM MODAL -->

<!-- Modal -->
<div class="modal top fade" id="proceedModal" tabindex="-1" aria-hidden="true" data-mdb-backdrop="static" data-mdb-keyboard="false">
  <div class="modal-dialog modal-lg ">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Fill in the Information</h5>
        <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body p-3">

        <!-- cash form -->
        <form method="post" class="d-none" action="{% url 'cash_transaction' %}" id="cash_form">
          {% csrf_token %}
          <!-- personal info div -->
          <div class="personal_info mb-2 rounded p-2 border border-primary" style="background-color: #eee;">
            <p class="fw-bold mx-0 mb-3 p-2 bg-primary rounded text-white">Personal Information :</p>
            
            <!-- first row -->
            <div class="row mb-3">
              <div class="col">
                <!-- Name input -->
                <div class="form-outline bg-white">
                  {{ cashform.customer_name }}
                  <label class="form-label" for="id_customer_name">Customer Name</label>
                </div>
              </div>
              <div class="col">
                <!-- Contact input -->
                <div class="form-outline bg-white">
                  {{ cashform.contact }}
                  <label class="form-label" for="id_contact">Mobile Number</label>
                </div>
              </div>
            </div>

            <div class="form-outline mb-3 bg-white">
              {{ cashform.email }}
              <label class="form-label" for="form6Example5">Email</label>
            </div>

            <div class="form-outline mb-3 bg-white">
              {{ cashform.delivery_address }}
              <label class="form-label" for="form6Example5">Delivery Address</label>
            </div>

          </div>

          <!-- Payment Div -->
          <div class="payment_info fw-bold mb-2 rounded p-2 border border-success">
            <p class="mx-0 mb-3 p-2 bg-success rounded text-white">Payment :</p>

            <p class="total p-2 rounded d-flex justify-content-between align-items-center" 
            style="background-color: #eee;"><span class="d-inline-block ps-2">Total Price:</span>
            <span class="d-inline-block pe-4 text-primary" id="subtotal2"><span>&#8369;</span> {{ subtotal }}</span></p>

            <div class="row mb-3">
              <div class="col">
                <!-- PAYMENT input -->
                <div class="form-outline bg-white" id="cash_amountpaid">
                  {{ cashform.amount }}
                  <label class="form-label" for="typeText">Amount Paid</label>
                </div>
              </div>
              <div class="col">
                <!-- CHANGE -->
                <p class="rounded px-3 py-1 d-flex justify-content-between align-items-center" style="background-color: #eee;">
                  <span class="d-inline-block">Change: </span>
                  <span class="d-inline-block pe-4"><span class="x">&#8369; </span><span id="pos_change" data-value="">0.00</span></span>
                </p>
              </div>
            </div>
          </div>


          <!-- footer -->
          <div class="modal-footer mt-2">
            <button type="reset" class="btn btn-secondary">
              Clear
            </button>
            <button type="submit" class="btn btn-primary" disabled id="conf_transaction" >Confirm Transaction</button>
          </div>

          {{ cashform.transaction_type }}
          {{ cashform.total_price }}
          {{ cashform.change }}
          {{ cashform.status }}

        </form>

        <!-- gcash form -->
        <form method="post" action="{% url 'gcash_transaction' %}" id="gcash_form">
          {% csrf_token %}
          <!-- personal info div -->
          <div class="personal_info mb-2 rounded p-2 border border-primary" style="background-color: #eee;">
            <p class="fw-bold mx-0 mb-3 p-2 bg-primary rounded text-white">Personal Information :</p>
            
            <!-- first row -->
            <div class="row mb-3">
              <div class="col">
                <!-- Name input -->
                <div class="form-outline bg-white">
                  {{ gcashform.customer_name }}
                  <label class="form-label" for="id_customer_name">Customer Name</label>
                </div>
              </div>
              <div class="col">
                <!-- Contact input -->
                <div class="form-outline bg-white">
                  {{ gcashform.contact }}
                  <label class="form-label" for="id_contact">Mobile Number</label>
                </div>
              </div>
            </div>

            <div class="form-outline mb-3 bg-white">
              {{ gcashform.email }}
              <label class="form-label" for="form6Example5">Email</label>
            </div>

            <div class="form-outline mb-3 bg-white">
              {{ gcashform.delivery_address }}
              <label class="form-label" for="form6Example5">Delivery Address</label>
            </div>

          </div>

          <!-- Payment Div -->
          <div class="payment_info fw-bold mb-2 rounded p-2 border border-success">
            <p class="mx-0 mb-3 p-2 bg-primary rounded text-white">Payment :</p>

            <p class="total p-2 rounded d-flex justify-content-between align-items-center" 
            style="background-color: #eee;"><span class="d-inline-block ps-2">Total Price:</span>
            <span class="d-inline-block pe-4 text-primary" id="subtotal2"><span>&#8369;</span> {{ subtotal }}</span></p>

            <div class="row mb-3">
              <div class="col">
                <!-- PAYMENT input -->
                <div class="form-outline bg-white" id="cash_amountpaid">
                  {{ gcashform.amount }}
                  <label class="form-label" for="typeText">Amount Paid</label>
                </div>
              </div>
              <div class="col">
                <div class="form-outline bg-white" id="cash_amountpaid">
                  {{ gcashform.gcash_no }}
                  <label class="form-label" for="typeText">Gcash Number</label>
                </div>
              </div>
            </div>

            <div class="row mb-3">
              <div class="col">
                <!-- referrence number -->
                <div class="form-outline bg-white" id="cash_amountpaid">
                  {{ gcashform.reference_no }}
                  <label class="form-label" for="typeText">Reference Number</label>
                </div>
                
              </div>
              <div class="col">
                
              </div>
            </div>
          </div>


          <!-- footer -->
          <div class="modal-footer mt-2">
            <button type="reset" class="btn btn-secondary">
              Clear
            </button>
            <button type="submit" class="btn btn-primary" disabled id="conf_transaction" >Confirm Transaction</button>
          </div>

          {{ gcashform.transaction_type }}
          {{ gcashform.total_price }}
          {{ gcashform.change }}
          {{ gcashform.status }}

        </form>
      </div>
      
    </div>
  </div>
</div>
{% endblock %}