{% extends 'UserInterface/base.html' %}

{% block content %}

<div class="product_management flex-fill p-4 shadow-inner overflow-auto">
    <!-- header -->
    <h5 class="pmheader py-2 mb-4">Product Management</h5>
    <div class="pmcontent h-75 rounded p-0">
        <!-- Action bar -->
        <div class="pmactionbar bg-white rounded-3 shadow-4 d-flex justify-content-evenly p-3 w-75 mx-auto">
            <button type="button" class="btn btn-primary" data-mdb-toggle="modal" data-mdb-target="#addProductModal">New Product</button>
            
            <div class="input-group" style="width: 30%;">
                <div class="form-outline">
                  <input type="search" id="form1" class="form-control bg-light shadow-sm" />
                  <label class="form-label" for="form1">Search</label>
                </div>
                <button type="button" class="btn btn-primary">
                  <i class="fas fa-search"></i>
                </button>
              </div>
        </div>
        <!-- Product table -->
        <div class="pmtablediv card bg-white h-100 my-3 p-2" style=" max-height: 90%; overflow: scroll;">
            <table class="pmtable table table-hover table-striped" style="font-size: 0.7rem; font-family: 'Montserrat'; width: 100%;">
                <thead class="table-dark text-center position-sticky top-0">
                    <tr>
                        <th>Product #</th>
                        <th>Product Name</th>
                        <th>Brand</th>
                        <th>Category</th>
                        <th>Size</th>
                        <th>Price</th> 
                        <th>Stock</th> 
                        <th>Date last stocked</th>
                        <th>Availability</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody class="text-center">
                    {% for product in products %}
                    <tr>
                        <td>{{ product.id }}</td>
                        <td>{{ product.product_name }}</td>
                        <td>{{ product.brand }}</td>
                        <td>{{ product.category }}</td>
                        <td>{{ product.product_size }}</td>
                        <td>{{ product.price }}</td>
                        <td>{{ product.current_stock }}</td>
                        <td>{{ product.date_last_stocked }}</td>
                        <td>{% if product.availability %}<span class="badge badge-success rounded-pill d-inline">Available</span>
                          {% else %}
                          <span class="badge badge-warning rounded-pill d-inline">Unavailable</span>
                          {% endif %}</td>
                        <td class="py-2">
                          <a href="{% url 'edit_prod' product.id %}" class="btn btn-primary" style="font-size: 0.6rem;">Edit</a>
                          <a href="{% url 'add_stock' product.id %}" class="btn text-white mx-2" style="font-size: 0.6rem; background-color: rgb(30, 159, 116);">Add Stocks</a>
                        </td>

                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

    </div>
    

</div>

 <!-- Modal fro creating product -->
    <div class="modal fade" tabindex="-1" id="addProductModal" data-mdb-backdrop="static" data-mdb-keyboard="false" aria-hidden="true">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title text-primary">Register Product</h5>
  
            </div>
            <div class="modal-body">
              <form method="post" class="p-1" id="add_prod_form" enctype="multipart/form-data">
                {% csrf_token %}
                
                <div class="form-outline px-2 mb-4 shadow-inner">
                  {{ product_form.product_name }}
                  <label class="form-label" for="id_product_name">Product Name</label>
                </div>

                <div class="form-outline px-2 mb-4 shadow-inner">
                  {{ product_form.brand }}
                  <label class="form-label" for="id_brand">Brand Name</label>
                </div>
        
                <div class="form-outline mb-4 d-flex justify-content-end">
                  <label class="form-label me-1" for="id_category">Select Category : </label>
                  {{ product_form.category }}
                </div>

                <div class="form-outline mb-4 d-flex justify-content-end">
                  <label class="form-label me-1" for="id_product_size">Select Size : </label>
                  {{ product_form.product_size }}
                </div>

                <div class="input-group mb-3 shadow-inner">
                  <span class="input-group-text">Price :</span>
                  {{ product_form.price }}
                  <span class="input-group-text">.00</span>
                </div>
                 
                <div class="input-group mb-3 shadow-inner">
                  <span class="input-group-text">Initial Stocks :</span>
                  {{ product_form.current_stock }}
                </div>

                <label class="form-label" for="id_product_img">Select Product Image :</label>
                {{ product_form.product_img }}

                <div class="form-outline mt-4">
                  {{ product_form.availability }}
                  <label class="form-label" for="id_availability">Post as available</label>
                </div>
                

              
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-mdb-dismiss="modal">Close</button>
                  <button type="submit" class="btn btn-primary" id="regprod">Register</button>
                </div>
              </form>

            </div>
            
          </div>
        </div>
      </div>

{% endblock %}