{% extends 'UserInterface/base.html' %}

{% block content %}

<div class="settings class w-100 h-100">
    <h1 class="p-4 w-100 text-center text-white" style="font-family: 'Barlow'; font-size: 1.6rem; letter-spacing: 1px; background-color: rgb(77, 77, 77);">Settings</h1>
    <div class="card bg-white mx-auto w-75 h-75 my-3  overflow-hidden">
        <div class="row h-50">
            <div class="col-6 p-3 border border-2 h-100">
                Dashboard
            </div>
            
            <div class="col-6 p-3 border border-2 h-100">
                Visitor's Page
            </div>

        </div>

        <div class="row h-50">
            <div class="col-6 p-3 border border-2 h-100">

            </div>

            <div class="col-6 p-3 border border-2 h-100">

            </div>

        </div>
    </div>
</div>
{% endblock %}