@font-face {
  font-family: 'Whitney';
  src: url(fonts/WhitneyBook.woff.ttf);
}
@font-face {
  font-family: 'Essen';
  src: url(fonts/Essen.ttf);
}


* {
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
    font-family: sans-serif;
}

body {
    height: 100vh;
    width: 100vw;
}

.main {
    height: 100%;
    width: 100%;
    overflow: hidden;
    display: flex;
}
.sidenav {
    height: 100vh;
    width: 210px;
    background: rgb(7,33,91);
    background: linear-gradient(0deg, rgba(7,33,91,1) 0%, rgba(14,28,61,1) 100%);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    position: relative;
    transition: width 0.6s;
}

.sidenav-menu {
    padding:5%;
    width: 100%;
    position: relative;
    bottom: 30px;
}
.sidenav-menu li {
    padding: 0 5px 0 5px;
    font-size: 0.7rem;
    margin:5px 0;
    font-family: 'Quicksand', 'Whitney', sans-serif;
    letter-spacing: 0.5px;
    font-weight: bold;
}

#nav-active {
    background: white;
    color: black;
    padding-left: 15px;
}

.sidenav-menu a {
    color: white;
    display: block;
    width: 100%;
    height: 100%;
    padding: 5px 0 5px 10px;
    margin-bottom: 4px;
    text-decoration: none;
    border-radius: 10px;
    transition: all 0.6s;
}
.sidenav-menu a:hover {
    background: #113d68;
    color: white;
    padding-left: 15px;
    
}

.sidenav-menu i {
    font-size: 0.7rem;
    margin-right: 8px;
}



.sidenav img {
    display: block;
    height: 100px;
    width: 100px;
    padding-top: 5px;
    margin: 20px 0 30px 0;
   /* position: relative;
    bottom: 80px ; */
}

.content {
    background: #eee;
    flex:auto;
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
    overflow: scroll;
}

.header {
    height: 60px;
    background: #fff;
    padding: 0 20px 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#dropdownMenuOffset {
  font-size: 0.7rem;
  text-transform: capitalize;
  font-family: 'Quicksand';
  font-weight: bold;
  padding: 5px 15px;
}

#logout {
  font-size: 0.7rem;
}

.header h4 {
  font-size: 1rem;
  font-weight: bold;
  font-family: 'Essen';
  color: rgb(7,33,91);
  letter-spacing: 2px;
  padding: 10px 0 0 10px;
}

.notification {
  position: relative;
  left: 190px;
}

#notif-btn {
  font-size: 1rem;
  padding: 5px;
  height: 30px;
  width: 30px;
  color: rgb(7,33,91);
  display: inline-block;
  transition: all 0.6s;
}
#notif-btn:hover {
   cursor: pointer;
}

#notif-btn:active {
  background: #eee;
  box-shadow: 0 0 2px #212121;
}
#notif-content {
 width: 280px;
 height: 300px;
 z-index: 1;
 position:absolute;
 bottom:-2px;
 right:0;
 display: none;
}

#shrink {
  height: 40px;
  width: 40px;
  padding: 5px;
  font-size: 1.1rem;
  position: absolute;
  top: 5%;
  right:-20px;
  transition: transform 0.5s;
  z-index: 1;
}

.content div {
  transition: width 0.6s;
}

@keyframes fade-in-right {
  0% {
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

/* DASHBOARD */
.dashboard {
  flex: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: auto;
}
.dash-upper {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-end;
  width: 100%;
  height: 40%;
  gap: 10px;
  padding: 5px;
  background: url("../images/peakpx2.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.dash-upper .card {
  height: 75%;
  width: 22%;
  position: relative;
  top:50px;
  background: white;
  animation: fade-in-right 0.5s;
}
.dash-lower {
  height: 65%;
  width: 100%;
  background: #eee;
  margin-top: 55px;
  display: flex;
  gap: 20px;
  padding: 15px;
  animation: fade-in-right 0.8s;
}
.stock-graph {
  width: 55%;
  height: 140%;
  background: white;
}
.top-selling {
  width: 40%;
  height: 130%;
  background: white;
}

/* User Management */
.user-management {
   height: 100%;
   width: 100%;
   box-sizing: border-box;
   margin: 0;
   overflow: scroll;
}

.um-header {
  margin:0;
  width: 100%;
  height: 20%;
  padding: 20px; auto 0 auto;
  background: url('../images/peakpx.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  box-sizing: border-box;
}
.um-header h3 {
  font-family: 'Quicksand';
  color: white;
  font-weight: bold;
  letter-spacing: 1px;
  font-size: 1.1rem;
  text-align: center;
  animation: fade-in-right 0.5s;
  text-shadow: 2px 2px 1px #212121;
}
.um-actionbar {
  height: 15%;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding:20px 50px 0 50px;
  animation: fade-in-right 0.7s;
}
#um-search {
  width: 35%;
  font-size: 0.8rem;
}
#adduser-btn {
  font-size: 0.8rem;
  text-transform: capitalize;
  padding: 10px 17px;
}
#um-search input, #um-search button {
  font-size: 0.8rem;
}
.um-tablediv {
  height: auto;
  width: 90%;
  background: white;
  margin: 20px auto;
  animation: fade-in-right 0.9s;
  overflow: scroll;
}

#user-table {
  font-family: 'Quicksand';
  font-size: 0.8rem;
}

.theader {
  font-weight: bold;
  font-size: 0.8rem;
}
#user-table tbody tr td button {
  font-size: 0.6rem;
}

#nu-modalbody div {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 10px auto;
}

#nu-modalbody div input {
  border: 0;
  outline: 0;
  padding: 5px 10px;
  background: #eee;
  border-radius: 5px;
}
#nu-modalbody div select {
  width: 64%;
  border: 0;
  background: #eee;
  border-radius:5px;
  padding: 5px 10px;
  text-align: center;
}
#nu-modalbody label {
  padding-top: 5px;
}
.helptext {
  display: none;
}