@font-face {
  font-family: 'Whitney';
  src: url(fonts/WhitneyBook.woff.ttf);
}

* {
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
    font-family: sans-serif;
}

body {
    height: 100vh;
    width: 100vw;
}

.main {
    height: 100%;
    width: 100%;
    overflow: hidden;
    display: flex;
}
.sidenav {
    height: 100%;
    width: 230px;
    background: rgb(7,33,91);
background: linear-gradient(0deg, rgba(7,33,91,1) 0%, rgba(14,28,61,1) 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    transition: width 0.6s;
}

.sidenav-menu {
    padding:5%;
    width: 100%;
}
.sidenav-menu li {
    padding: 0 5px 0 5px;
    font-size: 0.8rem;
    margin:0;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
}

#nav-active {
    background: white;
    color: black;
    padding-left: 15px;
}

.sidenav-menu a {
    color: white;
    display: block;
    width: 100%;
    height: 100%;
    padding: 5px 0 5px 10px;
    margin-bottom: 4px;
    text-decoration: none;
    border-radius: 10px;
    transition: all 0.6s;
}
.sidenav-menu a:hover {
    background: #113d68;
    color: white;
    padding-left: 15px;
    
}

.sidenav-menu i {
    font-size: 0.9rem;
    margin-right: 8px;
}

.sidenav-menu span {
    animation: fade-in-right 0.5s;
}

.sidenav img {
    display: block;
    height: 100px;
    width: 100px;
    padding-top: 5px;
}

.content {
    background: #eee;
    flex:auto;
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
    overflow: scroll;
}

.header {
    height: 50px;
    background: #fff;
    border: 0.5px solid #212121;
    padding: 0 20px 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#dropdownMenuOffset {
  font-size: 0.7rem;
  text-transform: capitalize;
  padding: 5px 15px;
}

#logout {
  font-size: 0.8rem;
}

.header h4 {
  font-size: 0.9rem;
  font-weight: bold;
  font-family: 'Whitney';
  color: rgb(7,33,91);
  letter-spacing: 1px;
}

.notification {
  position: relative;
  left: 60px;
}

#notif-btn {
  font-size: 1rem;
  padding: 5px;
  height: 30px;
  width: 30px;
  display: inline-block;
  transition: all 0.6s;
}
#notif-btn:hover {
   cursor: pointer;
}

#notif-btn:active {
  background: #eee;
  box-shadow: 0 0 1px gray;
}
#notif-content {
 width: 280px;
 height: 300px;
 z-index: 1;
 position:absolute;
 bottom:-2px;
 right:0;
 display: none;
}

#shrink {
  height: 40px;
  width: 40px;
  padding: 5px;
  font-size: 1.1rem;
  position: absolute;
  top: 5%;
  right:-20px;
  transition: transform 0.5s;
  z-index: 1;
}

.content div {
  transition: width 0.6s;
}

@keyframes fade-in-right {
  0% {
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

/* DASHBOARD */
.dashboard {
  flex: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: auto;
}
.dash-upper {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-end;
  width: 100%;
  height: 30%  ;
  gap: 10px;
  padding: 5px;
  background: royalblue;
}
.dash-upper .card {
  height: 100%;
  width: 28%;
  position: relative;
  top:40px;
  background: white;
}
.dash-lower {
  height: 65%;
  width: 100%;
  background: #eee;
  margin-top: 45px;
  display: flex;
  gap: 20px;
  padding: 15px;
}
.stock-graph {
  width: 55%;
  height: 140%;
  background: white;
}
.top-selling {
  width: 40%;
  height: 130%;
  background: white;
}