@font-face {
  font-family: 'Whitney';
  src: url(fonts/WhitneyBook.woff.ttf);
}
@font-face {
  font-family: 'Essen';
  src: url(fonts/Essen.ttf);
}


* {
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

html {
    font-size: 17px;
    font-family: sans-serif;
}

body {
    height: 100vh;
    width: 100vw;
}

.main {
    height: 100%;
    width: 100%;
    overflow: hidden;
    display: flex;
}

#alert_box {
    position: absolute;
    top: -10%;
    left: 23%;
    width: 60%;
    text-align: center;
    z-index: 999;
    transition: all 0.6s;
}
.sidenav {
    height: 100vh;
    width: 60px;
    background: rgb(7,33,91);
    background: linear-gradient(0deg, rgba(7,33,91,1) 0%, rgba(14,28,61,1) 100%);
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content:center;
    position: relative;
    transition: width 0.6s;
    z-index: 3;
    gap: 25px;
}

.sidenav-menu li span {
  display: none;
}

.sidenav-menu {
    padding:5%;
    width: 100%;
    position: relative;
    bottom: 30px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.sidenav-menu li {
    padding: 0 5px 0 5px;
    font-size: 0.8rem;
    font-family: 'Montserrat', 'Whitney', sans-serif;
    letter-spacing: 0.5px;
    font-weight: bold;
}

#nav-active {
    background: white;
    color: black;
    padding-left: 15px;
}

.sidenav-menu a {
    color: white;
    display: block;
    width: 100%;
    height: 100%;
    padding: 5px 0 5px 10px;
    margin-bottom: 4px;
    text-decoration: none;
    border-radius: 10px;
    transition: all 0.6s;
}
.sidenav-menu a:hover {
    background: #113d68;
    color: white;
    padding-left: 15px;
    
}

.sidenav-menu i {
    font-size:0.8rem;
    margin-right: 8px;
    margin-bottom: 5px;

}



#navlogo {
    display: none;
    height: 90px;
    width: 90%;
    margin: 20px 0 30px 0;
}

.content {
    background: rgb(238, 238, 238);
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-bottom: 10px;
    
}

.header {
    height: 60px;
    background: #fff;
    padding: 0 20px 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
}

.notif-logout-div {
  width: 280px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#dropdownMenuOffset {
  font-size: 0.7rem;
  text-transform: capitalize;
  font-family: 'Quicksand';
  font-weight: bold;
  padding: 5px 15px;
}

#logout {
  font-size: 0.7rem;
}

.header h4 {
  font-size: 1.2rem;
  font-weight: bold;
  font-family: 'Essen';
  color: rgb(7,33,91);
  letter-spacing: 2px;
  padding: 10px 0 0 10px;
}


#notif-btn {
  font-size: 1rem;
  padding: 5px;
  height: 30px;
  width: 30px;
  color: rgb(7,33,91);
  display: inline-block;
  transition: all 0.6s;
}

#notif-btn:hover {
   cursor: pointer;
}

#notif-btn:active {
  background: #eee;
  box-shadow: 0 0 2px #212121;
}
#notif-content {
 width: 280px;
 height: 300px;
 z-index: 1;
 position:absolute;
 bottom:-2px;
 right:0;
 display: none;
}

#shrink {
  height: 40px;
  width: 40px;
  padding: 5px;
  font-size: 1.1rem;
  position: absolute;
  top: 5%;
  right:-20px;
  transform: rotate(180deg);
  transition: transform 0.5s;
  z-index: 1;
}

.content div {
  transition: width 0.6s;
}

@keyframes fade-in-right {
  0% {
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

@keyframes scale-up-hor-left {
  0% {
    transform:scaleX(.4);
    transform-origin:0 0
}
100% {
  transform:scaleX(1);
  transform-origin:0 0
  }
}

/* DASHBOARD */
.dashboard {
  flex: auto;
  display: flex;
  flex-direction: column;
  padding-bottom: 10px;
  overflow: auto;
  font-size: 1vw;
}
.dash-upper {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-end;
  width: 100%;
  height: 20%;
  gap: 10px;
  padding: 5px;
  background: url("../images/peakpx2.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.dash-upper .card {
  height: 80%;
  width: 21%;
  position: relative;
  top:40px;
  background: white;
  animation: fade-in-right 0.5s;
  display: flex;
  flex-direction: row;
  padding: 5px;
  box-sizing: border-box;
  overflow: hidden;
}

.left-symbol {
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.left-symbol h3 {
  text-align: center;
  font-size: 1.5em;
  color: rgb(46, 45, 51);
}

.text-label {
  width: 70% ;
  height: 100%;
  padding: 10px 15px;
   margin: 0;
   display: flex;
   flex-direction: column;
   justify-content: center;
}

.text-label h2 {
  transition: 0.6s;
}

.text-label h2:first-of-type {
  color: rgb(9, 83, 157);
  font-family: 'Montserrat', sans-serif;
  font-size: 0.7em;
  font-weight: bold;
  padding-top: 10px;
  margin-top: 10px;
  text-transform: uppercase;
}
.text-label h2:last-of-type {
  font-size: 1em;
}

#dash-annual {
  font-size: 1em;
  font-weight: bold;  
  padding-bottom: 15px;
  font-family: 'Barlow';
  letter-spacing: 1px;
}

.dash-lower {
  height: 65%;
  width: 100%;
  background: #eee;
  margin-top: 40px;
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 15px;
  animation: fade-in-right 0.8s;
}
.stock-graph {
  width: 55%;
  height: 120%;
  background: white;
  padding: 15px;
}

.stock-progress, .topselling-graph {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  
}

.stock-header, .topselling-header {
  font-size: 0.7em;
  font-family: 'Montserrat';
  text-transform: uppercase;
  letter-spacing: 1px;
  text-align: center;
  color: #113d68;
  font-weight: bold;
  border-bottom: 1px solid rgb(187, 187, 187);
  padding-bottom: 10px;
}

.stock-progress > div {
  padding: 10px;
  width: 100%;
  height: 20%;
  margin: 0;
  box-sizing: border-box;
}

.label-progress {
  font-size: 0.7em;
  font-family: 'Quicksand';
  font-weight: bold;
  display: flex;
  justify-content: space-between;
}
.label-progress span {
  display: inline-block;
  padding: 5px 15px;
}
.progress {
  background-color: rgb(236, 240, 250);
  height: 15%;
}

.progress-bar {
  animation:scale-up-hor-left .4s ease-out both;
  transition: all 0.6s;
}

.top-selling {  
  width: 40%;
  height: 120%;
  background: white;
  padding: 15px;
}

.topselling-graph {
  display: flex;
  flex-direction: column;
}
.graph {
  flex: auto;
  overflow: hidden;
}
.chart-area {
  height: 90%;
  width: 90%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}


/* User Management */
.user-management {
   height: 100%;
   width: 100%;
   box-sizing: border-box;
   margin: 0;
   overflow: scroll;
}

.um-header {
  margin:0;
  width: 100%;
  height: 20%;
  padding: 20px auto 0 auto;
  background: url('../images/peakpx.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
}
.um-header h3, .cpheader, .pmheader, .heading, .installment_header {
  font-family: 'Quicksand';
  color: white;
  font-weight: bold;
  letter-spacing: 1px;
  font-size: 1.3rem;
  text-align: center;
  animation: fade-in-right 0.5s;
  text-shadow: 2px 2px 1px #212121;
}
.pos_header {
  font-family: 'Quicksand';
  color: rgb(33, 33, 33);
  font-weight: bold;
  letter-spacing: 1px;
  font-size: 1.1rem;
  text-align: center;
  animation: fade-in-right 0.5s;
  text-shadow: 1px 1px 1px #212121;
}
.um-actionbar {
  height: 15%;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 60px 0 60px;
  animation: fade-in-right 0.7s;
}
#um-search {
  font-size: 0.8rem;
  color: gray;
}

#adduser-btn {
  font-size: 0.8rem;
  text-transform: capitalize;
  padding: 10px 17px;
}
#um-search input, #um-search button {
  font-size: 0.8rem;
}
.um-tablediv {
  height: auto;
  width: 90%;
  background: white;
  margin: 20px auto;
  animation: fade-in-right 0.9s;
  overflow: scroll;
}

#user-table {
  font-family: 'Montserrat', sans-serif;
  font-size: 0.8rem;
}

#user-table .theader {
  font-weight: bold;
  font-size: 0.8rem;
  text-align: center;
}
.theader th:first-of-type {
  border-radius: 5px 0 0 5px;
}
.theader th:last-of-type {
  border-radius: 0 5px 5px 0 ;
}

#user-table tbody tr td {
  text-align: center;
}

#user-table tbody tr td a {
  display: inline-block;
  font-size: 0.6rem;
  width: 90px;
}


/* add user form */

#userform {
  font-family: 'Barlow';
  font-size: 0.9em;
}


.pagination li {
  margin: 0 5px;
  background-color: white;
  border-radius: 5px;
}

.role-select {
  border: 1px solid rgb(171, 171, 171);
  padding: 5px 15px;
  width: 70%;
  transition: all 0.6s;
  font-family: 'Montserrat';
  font-size: 0.8rem;
  padding: 8px;
}
.role-select option {
  padding: 10px;
}

#fas {
  color: rgb(220, 71, 66);
}

#fas1 {
  /* color: rgb(51, 204, 158); */
  color: rgb(220, 71, 66);
}

.edituser {
  width: 80%;
}


#userform-edit div input {
  font-family: 'Barlow';
  font-size: 1em;
  padding: 10px;
}

/* Customer Profile */

.customerprofile, .addstock_div {
  background-image: url('../images/peakpx.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.cptbl th:first-of-type {
  border-radius: 5px 0 0 0;
}
.cptbl th:last-of-type {
  border-radius: 0 5px 0 0;
}


/* Product Management */
.product_management, .wrapper_editprod {
  background-image: url('../images/peakpx5.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.pmtable th:first-of-type {
  border-radius: 5px 0 0 0;
}
.pmtable th:last-of-type {
  border-radius: 0 5px 0 0;
}

.pmtable thead tr {
  font-size: 0.9rem;
}
#add_prod_form div .form-control {
  font-family: 'Montserrat';
  font-size: 0.9rem;
  color: black;
}
.input-group-text {
  font-size: 0.9em;
}

/* Sales Transactions */
.sales_transaction {
  background-image: url('../images/peakpx7.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.payment_info_page {
  background-image: url('../images/peakpx6.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}


thead th:first-of-type {
  border-radius: 5px 0 0 5px;
}
thead th:last-of-type {
  border-radius: 0 5px 5px 0 ;
}

/* POS */
.pos {
  background-image: url('../images/peakpx11.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

#sort_item label{
 font-size: 0.6em;
 letter-spacing: 1px;
}

.item {
  overflow: hidden;
  background: white;
}

.item_drawer div {
  transition: all 0.4s;
}

.item:hover {
  cursor: pointer;
  box-shadow: 0 0 5px 2px rgb(54, 84, 254);
  background: #113d68;
}

.item:hover h3 {
  color: white;
}


.item img {
  height: 60%;
  width: 100%;
  margin-bottom: 10px;
  box-shadow: 4px 0 3px #212121;
}

.item h3 {
  font-family: 'Barlow', sans-serif;
  color: rgb(26, 26, 26);
  font-size: 0.7rem;
  text-align: center;
  letter-spacing: 1px;
  word-wrap: break-word;
}

.delitem:hover {
  cursor: pointer;
}

@keyframes slide-right {
  0% {
    transform:translateX(-100px)
  }
  100% {
    transform:translateX(0)
  }
}

.itemlist {
  transition: all 0.3s;
  background-color: #eee;
}
.itemlist:hover {
  background-color: #535353;
  color: #fff;
}
.itemlist:last-of-type {
  animation:slide-right .5s cubic-bezier(.25,.46,.45,.94) both;
}


.mop_div div {
  outline: 1px solid rgb(145, 145, 145);
  transition: all 0.3s;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  
}
.mop_div div:hover {
  cursor: pointer;
  background-color: #535353;
}


.mop_div div label {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.mop_div div input[type=radio] {
  display: none;
}
.mop_div div h5 {
  text-align: center;
  font-family: 'Barlow' , sans-serif;
  font-weight: normal;
  margin: 0;
  padding: 0;
  font-size: 0.9em;
  color: #eee;
} 

.changecash {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #eee;
}
.downpayment {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #eee;
}

.pos_btns a {
  font-family: 'Quicksand';
  letter-spacing: 1px;
  font-size: 0.8rem;
}

.paybalance_labels {
  background-color: #eee;
  display: flex;
  justify-content: center;
}

#balance_payment_method option {
  text-align: center;
  font-size: 1rem;
}

.errorlist {
  color: rgb(255, 84, 84);
}

.return_pruduct {
  height: 100%;
  width: 100%;
}
.rp_header {
  font-family: 'Barlow', sans-serif;
  font-size: 1.7rem;
  text-align: center;
  letter-spacing: 1px;

  background-image: url('../images/peakpx4.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
} 

#customerform_edit input {
  margin: 0;
}
