{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login Page</title>
    
    <!-- system icon -->
    <link rel="icon" type="image/x-icon" href="{% static 'images/dtlogo.png'%}">

    <!-- Bootstrap -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.1.0/mdb.min.css" rel="stylesheet"/>
    
    <!-- fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400&family=Quicksand&family=Barlow:wght@300;400;500&family=Ubuntu+Mono&display=swap" rel="stylesheet">

    <!-- Custom Styles -->
    <link rel="stylesheet" href="{% static 'css/login.css' %}"/>

    <script src="https://kit.fontawesome.com/f8a99d4330.js" crossorigin="anonymous"></script>

  </head>
  <body>
    {% if messages %}
            
          {% for message in messages  %}
          <div class="alert alert-{%  if message.tags == 'error'%}{{ 'danger' }}{% else %}{{ message.tags }}{% endif %} shadow-lg border d-flex align-items-center" id="alert_box">
            <h5 class="flex-grow-1">{{ message }}</h5>
            <a href="#" class="btn-close" style="font-size: 0.7rem;" id="close_alert"></a>
          </div>
          {% endfor %}
            
    {% endif %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <!-- Container wrapper -->
      <div class="container">
        <!-- Navbar brand -->
        <a class="navbar-brand me-2" href="#">
          <img
            src="{% static 'images/dunmark_logo.jpg' %}"
            height="40"
            alt="DM Logo"
            loading="lazy"
            style="margin-top: -1px;"
          />
        </a>

        <!-- Toggle button -->
        <button
          class="navbar-toggler"
          type="button"
          data-mdb-toggle="collapse"
          data-mdb-target="#navbarButtonsExample"
          aria-controls="navbarButtonsExample"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <i class="fas fa-bars"></i>
        </button>

        <!-- Collapsible wrapper -->
        <div class="collapse navbar-collapse" id="navbarButtonsExample">
          <!-- Left links -->
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link text-dark" href="#" style="font-family: 'Montserrat'; font-size: 1.2; font-weight: bold; letter-spacing: 1px;">Dunmark Tileshop</a>
            </li>
          </ul>
          <!-- Left links -->

          <div class="d-flex align-items-center">
            <a
              class="btn btn-dark px-3"
              href="https://github.com/mdbootstrap/mdb-ui-kit"
              role="button"
              ><i class="fa fa-globe fa-lg" aria-hidden="true"></i></a>
          </div>
        </div>
        <!-- Collapsible wrapper -->
      </div>
      <!-- Container wrapper -->
    </nav>
    <!-- Navbar -->

    {% block content %}
    {% endblock content %}

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.1.0/mdb.min.js"></script>
    <script src="{% static 'js/jquery.min.js'%}"></script>
    <script>
      $(document).ready(function() {
        $("#id_username").focus()
      })
    </script>
    <script src="{% static 'js/script.js' %}"></script>

  </body>
  
</html>