{% extends 'Login/base.html'%}

{% block content %}
  <div class="forgot_email overflow-hidden">
    <h1 class="bg-primary p-3 text-white" style="font-family: 'Quicksand';  font-size: 1.2rem;">Forgot Password</h1>

    <form class="p-3" method="post">
      {% csrf_token %}

      <div class="col w-75 mx-auto">

        {% if error_message %}
          <div class="errs py-2 px-4 my-2 rounded" style="background-color: rgb(255, 238, 238);">
            <span class="text-danger" style="font-size: 0.8rem; font-family: 'Quicksand';">{{ error_message }}</span>
          </div>
        {% endif %}
        
        <div class="form-outline mt-4 mb-2">
          <input type="text" name="username" id="form1Example1" class="form-control" />
          <label class="form-label" for="form1Example1">Search Username</label>
        </div>
        
        
          
        <div class="col mx-auto mt-4 d-flex justify-content-end">
          <a href="{% url 'login' %}" class="btn btn-success me-3">Go to login</a> <button type="submit" class="btn btn-secondary">Search</button>
        </div>
      </div>
      
      
      
    </form>
    

  </div>
{% endblock %}