{% extends 'Login/base.html'%}

{% block content %}
  <div class="forgot overflow-hidden ">
    <h1 class="bg-primary p-3 text-white" style="font-family: 'Quicksand';  font-size: 1.2rem;">Forgot Password</h1>
    
    <form class="p-3" method="post">
      {% csrf_token %}

      <div class="row w-75 mx-auto">
        <div class="px-4 mt-4 mb-2 py-2 text-center rounded" style="background-color: rgb(238, 245, 255);">
          <span class="text-dark" style="font-size: 0.8rem; font-family: 'Quicksand';">6 digit OTP has been sent to {{ changeuser.email }}</span>
        </div>
        {% if form.non_field_errors %}
          <div class="errs col-12 mt-4 mb-2 rounded" style="background-color: rgb(255, 238, 238);">
            <span class="text-danger text-center" style="font-size: 0.8rem; font-family: 'Quicksand';">{{ form.non_field_errors }}</span>
          </div>
        {% endif %}
        

        <div class="col-12 form-outline mt-4 mb-2">
          {{ form.password1 }}
          <label class="form-label" for="form1Example1">New Password</label>
        </div>

        <div class="col-12 form-outline mt-4 mb-4 text-center">
          {{ form.password2 }}
          <label class="form-label" for="form1Example1">Confirm Password</label>
        </div>

        <div class="col-6 p-0">
          <div class="form-outline mt-3 mb-4">
            {{ form.otp }}
            <label class="form-label" for="form1Example1">OTP</label>
          </div>
        </div>

        <div class="col-6 p-0 d-flex align-items-center ps-2">
          <a href="{% url 'resend_otp' changeuser.username %}" class="btn btn-sm btn-secondary mb-2 w-50">Resend</a>
        </div>
        
        
        
          
        <div class="col-12 p-0 mt-4 mx-auto d-flex justify-content-end">
          <a href="{% url 'login' %}" class="btn btn-success me-3">Go to login</a><button class="btn btn-primary">Reset Password</button>
        </div>
      </div>
      
      
      
    </form>


  </div>
{% endblock %}