{% extends 'guesttemp/base.html' %} {%load static %}{% block productcat%}
<link rel="stylesheet" href="{% static 'assets/css/card.css' %}">
<div class="row pb-5 mb-2 ">

    <div class="card-animation-cont">
        <!-- Duplicate the following div to add cards -->
        {% for cer in cer_p %}
        <div class="card ">
            <img src="{{cer.product_img.url}}" alt="" />
            <div class="info">
                <strong>{{cer.product_name}}</strong>
                <span class="sub-title">Category: {{cer.category}}</span>
                <hr/>
                <div class="hide-info">
                    <span class="text">
             <p>Size: {{cer.product_size}}</p>
              </span>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

    <script>
        $(document).ready(function () {
            // Handler for .ready() called.
            $('html, body').animate({
                scrollTop: $('#sortItem').offset().top
            });
        });
    </script>
</div>{% endblock %}