{% extends '../base.html' %}


{% block content %}

<div class="sales_transaction w-100 h-100 m-0 p-2">
    <div class="trans_content h-100 2-100 d-flex flex-column p-3">
        <h3 class="heading bg-transparent mb-3 text-center">Payment Infomation</h3>
        <div class="trans_actionbar bg-transparent w-100 rounded d-flex justify-content-between my-3">
            <a href="{% url 'sales_transaction' %}" class="btn btn-light shadow">Back to Transactions</a>
            <div class="input-group w-25">
                <div class="form-outline shadow">
                  <input type="search" id="form1" class="form-control bg-light shadow-sm" />
                  <label class="form-label" for="form1">Search</label>
                </div>
                <button type="button" class="btn btn-secondary">
                  <i class="fas fa-search"></i>
                </button>
            </div>
        </div>
        <div class="trans_table bg-primary p-1 bg-white shadow rounded overflow-y-scroll" style="max-height: 80%;">
            <table class="table table-hover shadow" style="min-width: 100%; font-family: 'Montserrat'; font-size: 0.7em; font-weight: bold; ">
                <thead class="text-light text-center" style="background-color: rgb(30, 98, 132);">
                    <th>Trans No.</th>
                    <th>Amount Paid</th>
                    <th>Change</th>
                    <th>Customer Name</th>
                    <th>Contact</th>
                    <th>Email</th>
                    <th>Gcash No.</th>
                    <th>Reference No.</th>
                </thead>
                <tbody>
                    {% for p in payment  %}
                        <tr class="text-center">
                            <td>{{ p.transaction_no }}</td>
                            <td>{{ p.amount }}</td>
                            <td>{{ p.change }}</td>
                            <td>{{ p.customer_name }}</td>
                            <td>{{ p.contact }}</td>
                            <td>{{ p.email }}</td>
                            <td>{{ p.gcash_no }}</td>
                            <td>{{ p.reference_no}}</td>
                        </tr>
                    {% endfor %}       
                </tbody>
            </table>
        </div>
    </div>
</div>
    
{% endblock content %}
    