{% extends '../base.html' %}

{% block content %}

<div class="sales_transaction w-100 h-100 m-0 p-2">
    <div class="trans_content h-100 2-100 d-flex flex-column p-3">
        <h3 class="heading bg-transparent mb-3 text-center">Sale Transactions</h3>
        <div class="trans_actionbar bg-transparent w-100 rounded d-flex justify-content-between my-3">
            <a href="{% url 'payment_info' %}" class="btn shadow btn-outline-white" style="background-color: rgb(30, 136, 134);" >View Payment Informations</a>
            <div class="input-group w-25">
                <div class="form-outline shadow">
                  <input type="search" id="form1" class="form-control bg-light shadow-sm" />
                  <label class="form-label" for="form1">Search</label>
                </div>
                <button type="button" class="btn btn-secondary">
                  <i class="fas fa-search"></i>
                </button>
            </div>
        </div>
        <div class="trans_table bg-primary p-1 bg-white shadow rounded overflow-y-scroll" style="max-height: 75%;">
            <table class="table" style="min-width: 100%; font-family: 'Montserrat'; font-size: 0.7em; font-weight: bold;">
                <thead class="text-light text-center" style="background-color: rgb(43, 55, 61);">
                    <th>Trans No.</th>
                    <th>Trans Type</th>
                    <th>Total Amount</th>
                    <th>Total Product</th>
                    <th>Date of Purchace</th>
                    <th>Delivery Address</th>
                    <th>Actions</th>
                </thead>
                <tbody>
                    
                    {% for transaction in transactions  %}
                        <tr class="text-center">
                            <td>{{ transaction.transaction_no }}</td>
                            <td>{{ transaction.transaction_type }}</td>
                            <td>{{ transaction.total_price }}</td>
                            <td>{{ transaction.total_products }}</td>
                            <td>{{ transaction.date_of_purchace }}</td>
                            <td>{{ transaction.delivery_address }}</td>
                            <td class="parentReceiptBtn py-2"> <a class="receiptbtn btn m-0" data-transnumber="{{ transaction.transaction_no }}" style="background-color: rgb(34, 102, 152); font-size: 0.8em; color: #fff;">Detailed View</a></td>
                        </tr>
                    {% endfor %}
                        
                </tbody>
            </table>
        </div>
    </div>
</div>

<!-- Button trigger modal -->
<button type="button" class="btn btn-primary d-none" data-mdb-toggle="modal" data-mdb-target="#receipt" id="trigger3">
    Launch modal
  </button>
  
  <!-- Modal -->
  <div class="modal top fade" id="receipt" tabindex="-1" aria-labelledby="receiptModal" aria-hidden="true" data-mdb-backdrop="static" data-mdb-keyboard="false">
    <div class="modal-dialog  ">
      <div class="modal-content">
        <div class="modal-header">
          <h5>Transaction no: <span id="trans_no_modal"></span></h5>
          <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="detailed_div" id="detailed_div">
              <!-- detailed item-transaction modal -->
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-mdb-dismiss="modal">
            Print Receipt
            <i class="fa-solid fa-print fa-lg ps-2"></i>
          </button>
        </div>
      </div>
    </div>
  </div>


{% endblock %}